* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.warning {
    color: red;
}
body {
    padding: 0 50px;
}
.grid {
    max-width: 640px;
    display: grid;
    grid-template-columns: 1fr 35px 35px 35px;
    padding: 25px 0;
}
.grid div {
    border-bottom: 1px solid #00000033;
    line-height: 25px;
}
.grid .w25 {
    width: 25px;
    height: 25px;
}
.grid .delete {
    background: inherit;
    outline: none;
    border: none;
}
.grid .delete:hover {
    cursor: pointer;
}
.btn {
    margin: 10px 0;
    display: inline-block;
    padding: 10px;
    background: chocolate;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.btn:hover {
    background: #974206;
}
